/*general style setting*/

* {
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
    overflow-y: visible;
    box-sizing: border-box;
}

a,
a:visited {
    color: black;
    text-decoration: none;
}


/*font imports*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Scope+One&display=swap');

/*header and navbar*/

header {
    padding: 12px 24px;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    z-index: 1;
}

.header-container {
    display: flex;
    width: 1400px;
    justify-content: space-between;
}

.logo img {
    margin: 10px;
    width: 80px;
    height: auto;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    height: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
}

nav ul li {
    margin-right: 32px;
    border-radius: 16px;
    transition: 150ms ease-in-out;
}

nav ul li a {
    display: block;
    height: 100%;
    width: 100%;
    padding: 12px 24px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

nav ul li:hover {
    background-color: #386344;
}

nav ul li:hover a {
    color: #fff;
}


/*index page body*/

section {
    width: 100vw;
}

.landing {
    background-color: #fff;
    margin-top: 94px;
}

.landing .title-card {
    position: relative;
    height: 100vh;
    background-color: #386344;
    background-image: url(img/bg1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 62px;
    padding: 25px;
    background: #a1eb90;
    font-family: 'Open Sans', sans-serif;
    color: #386344;
    border-radius: 32px;
}

.about {
    background-color: #386344;
    background-image: url(img/bg3.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact {
    display: flex;
    background: rgb(56, 99, 68);
    background: linear-gradient(49deg, rgba(56, 99, 68, 1) 0%, rgba(80, 163, 61, 1) 100%);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-set {
    width: 60vw;
    margin-top: 50px;
    padding: 50px;
    background-color: #fff;
    border-radius: 32px;
}

.text-set:last-child {
    margin-bottom: 50px;
}

.text-set h1 {
    font-family: 'Open Sans', sans-serif;
    color: #386344;
    font-size: 24px;
    font-weight: 700;
}

.text-set p {
    font-family: 'Scope One', serif;
    color: #0F1A12;
    margin-top: 25px;
    font-size: 20px;
    font-weight: 400;
}